<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>

  <appSettings>

    <add key="DictionaryPath" value="Data/dict" />
    <add key="InputFilePath" value="Data/de-test-words.tsv" />
    <add key="OutputFilePath" value="Data/Results" />

  </appSettings>

</configuration>